<div class="page-header">
  <h1>Development Notes</h1>
</div>

<p>I developed this demo app on a Windows 7 machine using the following tools:</p>

<ul>
  <li>Ruby 2.1.5</li>
  <li>Rails 4.1</li>
  <li>PostgreSQL 9.3</li>
  <li>Brackets (web text editor)</li>
  <li>Git (both command-line and TortoiseGit)</li>
  <li>Heroku Toolbelt</li>
</ul>

<p>For my first test app, I followed the <i>Getting Started with Rails</i> guide closely to get a handle on how things worked. This guide does not use scaffolding, and I felt that this was a good thing &mdash; I was forced to implement each step manually and learn what goes on under the covers. However, I was not able to use the <i>twitter-bootstrap-rails</i> themed view generator, since this generator assumes the use of scaffolding.</p>

<p>Next, I started a new Rails project without the guide, using both scaffolding and the <i>twitter-bootstrap-rails</i> themed view generator. This gave me a nice looking UI in no time at all, and the generated files were easy to tweak since I had a good understanding of the basics from my first test app.</p>

<p>I proceeded to manually integrate the additional features from the guide, such as comments and authentication. I also modified the views a fair bit to fix various visual issues, and added some nice finishing touches such as the nav-bar at the top and the <i>About</i> side-bar.</p>

<p>Overall, everything went fairly smoothly. I did encounter a few minor issues and annoyances though, and I got the feeling that these were mostly due to developing on Windows &mdash; Ruby and Rails definitely seem geared toward development on a Mac or Linux machine.
</p>

<p>One tool I was interested in trying, but didn't have the time to do so, is the <a href="https://www.jetbrains.com/ruby">RubyMine</a> IDE from JetBrains. I have used many other JetBrains development tools in the past, and they are top notch. Were I to continue developing Rails apps on Windows (and that, frankly, does not seem like the best idea!) I have a feeling that the experience would be far better in an environment such as RubyMine.</p>
